<nav class="navbar navbar-light bg-dark">
    <div class="container-fluid">
        <h3 style="color:white">Registration Form</h3>
        <div class="d-flex">
            <button class="btn btn-outline-light mr-4" style="margin-right: 10px;"  routerLink="/salary" routerLinkActive>GetEmployees</button>   
            <button class="btn btn-outline-light mr-4" style="margin-right: 10px;"  routerLink="/MaxSalary" routerLinkActive>MaxSalary</button>   
            <button class="btn btn-outline-light mr-4" style="margin-right: 10px;"  routerLink="/MinSalary" routerLinkActive>MinSalary</button>   
            <button class="btn btn-outline-light mr-4" style="margin-right: 10px;"  routerLink="/register" routerLinkActive>Register</button>
            <button class="btn btn-outline-light"  routerLink="/userdetails" routerlinkactive >ViewUsers</button>
        </div>
    </div>
</nav>